.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding:40px;
    
   
}
.card{
    position:relative;
    border:1px solid black;
    border-radius: 24px;
    background: linear-gradient(to right , rgba(57, 57, 56), rgba(57,57, 56,0));
    padding:40px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    width:300px;
    height:150px;
 
    overflow:scroll;
}

img{
    width:120px;
    height:160px;
    border-radius: 16px;
    display:block;
    margin:auto;

    transform: scale(1,1);
}

.card:hover{
    transform: translateY(5px);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.8);
}

.badge {
    position:absolute;
    top:10px;
    right:10px;
    padding:8px 15px;
    border:1px solid transparent;
    border-radius:24px;
    background:rgb(42, 131, 232);
    color:white;
    cursor:pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.badge:hover{
    transform: translateY(5px);
    box-shadow:0px 0px 10px rgba(0,0,0,1);
}
 /*  This is overflow + scale concept */
.box{
    width:200px;
    height:100px;
    border:2px solid black;
    overflow:hidden;
    overflow-y:scroll;
    transform:scaleX(1.5);
    transform:scaleY(1);
}

.container2{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:40px;

}
.card2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    border:1px solid black;
    padding: 40px;
    border-radius: 24px;
    background: linear-gradient(to left, rgba(15, 100, 149, 0.529), rgba(156, 226, 209, 0.804));
    cursor:pointer;
    position:relative;


}

.badge1{
    padding:8px 16px;
    border-radius: 24px;
    border:1px solid transparent;
    background-color: rgba(15, 144, 149, 0.529);
    cursor:pointer;
    position:absolute;
    top:10px;
    right:10px;
    transition: transform 0.3s ease, box-shadow 03s ease, scale 0.3s ease;
}

.badge1:hover{
    transform: translateX(5px);
    box-shadow:0px 0px 10px rgba(0,0,0,0.8);
}

.stickybtn{
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:10px;
    right: 10px;
    left:10px;

}

/* This button willl be at top of screen always fixed */
.stickybtn input{
    width:350px;
    padding:12px ;
    border:1px solid #444;
    border-right:0 ;
    outline: none;
    background: #0f0f0f;
    font-size: 16px;
    color:white;
   
}
.stickybtn button{
    padding:12px 20px;
    font-size: 14px;
    border:1px solid #3366cc;
    border-left:none;
    background:#3366cc ;
}
.btn:hover{
    background-color: #0f6af2d5;
}